@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: black;
    background: white;
    overflow-x: hidden;
  }

  input:focus {
    outline: none;
  }
}

@layer components {
  .card {
    @apply rounded-2xl p-4
  }

  .card-head {
    @apply flex flex-row
  }
}

